[flake8]
max-complexity = 10
max-line-length=200
statistics = True
show-source = True

ignore = 
    E126,
    E128,
    E131,
    E302,
    E305,
    E306,
    E402,
    E701,
    E704,
    E722,
    E731,
    F401,
    W503,
    W504,
    C901,

exclude =
    .git,
    .githooks,
    .github,
    .pytest_cache,
    __pycache__,
    packages,
    resources,
    scripts,
    tmp,
    a4kSubtitles/lib/third_party,
