<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <!-- General -->
    <category label="33001">
        <setting id="general.timeout"        label="33101" type="slider" default="15" option="int" range="5,20"/>
        <setting id="general.results_limit"  label="33102" type="slider" default="20" option="int" range="10,100"/>
        <setting id="general.auto_search"    label="33103" type="bool"   default="false" />
        <setting id="general.auto_download"  label="33104" type="bool"   default="false"  enable="eq(-1,true)" />
        <setting id="general.use_chardet"    label="33105" type="bool"   default="true"  />
        <setting id="general.auto_select"    label="33106" type="bool"   default="true"  />
        <setting id="general.prefer_sdh"     label="33107" type="bool"   default="false"  enable="eq(-1,true)" />
        <setting id="general.prefer_forced"  label="33108" type="bool"   default="true"   enable="eq(-1,false)+eq(-2,true)" />
        <setting id="general.use_ai"         label="33109" type="bool"   default="false"  />
        <setting id="general.ai_provider"    label="33110" type="select" default="OpenAI" enable="eq(-1,true)" lvalues="43110|43111" />
        <setting id="general.ai_api_key"     label="33111" type="text"   default=""       enable="eq(-2,true)" />
        <setting id="general.ai_model"       label="33112" type="text"   default="gpt-4.1-2025-04-14" enable="eq(-3,true)" />
    </category>
    <!-- Services -->
    <category label="33002">
        <setting id="addic7ed.enabled"      label="33206" type="bool" default="true"/>
        <setting id="bsplayer.enabled"      label="33202" type="bool" default="true"/>
        <setting id="opensubtitles.enabled" label="33201" type="bool" default="true"/>
        <setting id="podnadpisi.enabled"    label="33203" type="bool" default="true"/>
        <setting id="subdl.enabled"         label="33205" type="bool" default="true"/>
        <setting id="subsource.enabled"     label="33207" type="bool" default="true"/>
    </category>
    <!-- Accounts -->
    <category label="33003">
        <!-- OpenSubtitles -->
        <setting type="lsep" label="33201"/>
        <setting type="sep"/>
        <setting id="opensubtitles.username" label="33301" type="text" default=""/>
        <setting id="opensubtitles.password" label="33302" type="text" default="" option="hidden"/>
        <!-- SubDL -->
        <setting type="lsep" label="33205"/>
        <setting type="sep"/>
        <setting id="subdl.apikey" label="33303" type="text" default=""/>
        <!-- Subsource -->
        <setting type="lsep" label="33207"/>
        <setting type="sep"/>
        <setting id="subsource.apikey" label="33304" type="text" default=""/>
    </category>
</settings>
